<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>undefined.localhost.note-alfred</string>
    <key>category</key>
    <string>Productivity</string>
    <key>connections</key>
    <dict>
      <key>78E75E3C-BA52-4F61-952F-8588B051BD05</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E22AE40E-B138-4355-94B1-73DBB331B6E9</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Hoang Trieu, Khang</string>
    <key>description</key>
    <string>Search Notes</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>note-alfred</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>notes</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Search Notes</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>78E75E3C-BA52-4F61-952F-8588B051BD05</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Opening...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node open.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Opening...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>E22AE40E-B138-4355-94B1-73DBB331B6E9</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>78E75E3C-BA52-4F61-952F-8588B051BD05</key>
      <dict>
        <key>xpos</key>
        <integer>10</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>E22AE40E-B138-4355-94B1-73DBB331B6E9</key>
      <dict>
        <key>xpos</key>
        <integer>230</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>0.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/khanghoang/alfred-note-alfred#readme</string>
  </dict>
</plist>